<!-- wp:template-part {"slug":"main-header","theme":"grocerymart","tagName":"header"} /-->

<!-- wp:pattern {"slug":"grocerymart/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main","className":"main-page"} -->
<main id="content" class="wp-block-group main-page"><!-- wp:post-content {"className":"page-content","fontFamily":"roboto","layout":{"inherit":true,"contentSize":"90%","justifyContent":"center"}} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"grocerymart","tagName":"footer"} /-->