name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: |
          command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )

          eval $(ssh-agent -s)

          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' | ssh-add -

          mkdir -p ~/.ssh
          touch ~/.ssh/config
          touch ~/.ssh/known_hosts
          chmod 400 ~/.ssh/*

          ssh-keyscan -p 22 179.43.144.107 >> ~/.ssh/known_hosts

      # 3️⃣ (Опционально) сборка проекта
      # - run: npm ci
      # - run: npm run build

      - run: |
          rsync -e "ssh -p 22 -o StrictHostKeyChecking=no" \
          --archive --compress --delete . adzhna@179.43.144.107:/var/www/adzhna/data/www/wp.adzhna.ru